<p> Customers </p>

<!-- Agregar una clase CSS al formulario para reducir su ancho y centrarlo en la pantalla -->
<form class="customer-form">
  
  <label>
    Nombre de la Empresa:
    <input type="text" 
           name="nombreEmpresa" 
           [(ngModel)]="customerToEdit.companyName" 
           required>
  </label>
  <label>
    Nombre de Contacto:
    <input type="email" 
           name="nombreContacto" 
           [(ngModel)]="customerToEdit.contactName" 
           required>
  </label>
  <label>
    Titulo del Cliente:
    <input type="text" 
           name="tituloCliente" 
           [(ngModel)]="customerToEdit.contactTitle" 
           required>
  </label>
  <label>
    Adress:
    <input type="text" 
           name="adress" 
           [(ngModel)]="customerToEdit.adress" 
           required>
  </label>
  <label>
    City:
    <input type="email" 
           name="city" 
           [(ngModel)]="customerToEdit.city" 
           required>
  </label>
  <label>
    Región:
    <input type="text" 
           name="region" 
           [(ngModel)]="customerToEdit.region" 
           required>
  </label>
  <label>
    Postal Code:
    <input type="text" 
           name="postalCode" 
           [(ngModel)]="customerToEdit.postalCode" 
           required>
  </label>
  <label>
    Country:
    <input type="text" 
           name="country" 
           [(ngModel)]="customerToEdit.country" 
           required>
  </label>
  <label>
    Phone:
    <input type="text" 
           name="phone" 
           [(ngModel)]="customerToEdit.phone" 
           required>
  </label>
  <label>
    Fax:
    <input type="text" 
           name="fax" 
           [(ngModel)]="customerToEdit.fax" 
           required>
  </label>
  
  <button type="button" 
          (click)="createCustomer()">
    Agregar cliente
  </button>
</form>


<!-- Agregar una clase CSS a la tabla para reducir su ancho y hacerla más minimalista -->
<table class="minimalist-table">
  <thead>
    <tr>
      <th>Nombre Empresa</th>
      <th>Nombre Titular</th>

      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of Customers">
      <td>{{customer.companyName}}</td>
      <td>{{customer.contactName}}</td>

      <td>
        <button (click)="updateCustomer(customer)">Editar</button>
        <button (click)="deleteCustomer(customer)" [disabled]="isDeleting">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>


