<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div *ngIf="customer" class="container">
  <div>
    Company Name
    <input [(ngModel)]="customer.companyName" placeholder="Ej: McDonald's" />
  </div>
  <div>
    Contact Name
    <input
      [(ngModel)]="customer.contactName"
      placeholder="Ej: Ronald McDonald"
    />
  </div>
  <div>
    Contact Title
    <input [(ngModel)]="customer.contactTitle" placeholder="Ej: Empresario" />
  </div>
  <div>
    Address
    <input [(ngModel)]="customer.address" placeholder="First Avenue 3246" />
  </div>
  <div>
    City
    <input [(ngModel)]="customer.city" placeholder="New York City" />
  </div>
  <div>
    Region
    <input [(ngModel)]="customer.region" placeholder="New York" />
  </div>
  <div>
    Postal Code
    <input [(ngModel)]="customer.postalCode" placeholder="75204" />
  </div>
  <div>
    Country
    <input [(ngModel)]="customer.country" placeholder="Ej: USA" />
  </div>
  <div>
    Phone
    <input [(ngModel)]="customer.phone" placeholder="(2945)-345263" />
  </div>
  <div>
    Fax
    <input [(ngModel)]="customer.fax" placeholder="(2945)-3452639" />
  </div>
  <div class="btn-container">
    <button
      class="buton-save"
      (click)="updateCustomer(customer)"
      *ngIf="customer.customerId"
    >
      <i class="material-icons">save</i>
    </button>
    <button
      class="buton-add"
      (click)="createCustomer(customer)"
      *ngIf="customer.customerId"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
