<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<button id="sidebar-toggle" onclick="document.querySelector('.sidebar').classList.toggle('show')"><i class="material-icons">add</i> </button>

<div class="sidebar">
  <button id="sidebar-close" onclick="document.querySelector('.sidebar').classList.remove('show')"style="background-color: red; color: white;">
    <i class="material-icons">close</i> </button>
  <form class="customer-form">
    <label>
      Nombre de la Empresa:
      <input type="text" 
             name="nombreEmpresa" 
             [(ngModel)]="customerToEdit.companyName" 
             required>
    </label>
    <label>
      Nombre de Contacto:
      <input type="email" 
             name="nombreContacto" 
             [(ngModel)]="customerToEdit.contactName" 
             required>
    </label>
    <label>
      Titulo del Cliente:
      <input type="text" 
             name="tituloCliente" 
             [(ngModel)]="customerToEdit.contactTitle" 
             required>
    </label>
    <label>
      Adress:
      <input type="text" 
             name="adress" 
             [(ngModel)]="customerToEdit.adress" 
             required>
    </label>
    <label>
      City:
      <input type="email" 
             name="city" 
             [(ngModel)]="customerToEdit.city" 
             required>
    </label>
    <label>
      Región:
      <input type="text" 
             name="region" 
             [(ngModel)]="customerToEdit.region" 
             required>
    </label>
    <label>
      Postal Code:
      <input type="text" 
             name="postalCode" 
             [(ngModel)]="customerToEdit.postalCode" 
             required>
    </label>
    <label>
      Country:
      <input type="text" 
             name="country" 
             [(ngModel)]="customerToEdit.country" 
             required>
    </label>
    <label>
      Phone:
      <input type="text" 
             name="phone" 
             [(ngModel)]="customerToEdit.phone" 
             required>
    </label>
    <label>
      Fax:
      <input type="text" 
             name="fax" 
             [(ngModel)]="customerToEdit.fax" 
             required>
    </label>

    <button type="button" 
            (click)="createCustomer()">
      Agregar cliente
    </button>
  </form>
</div>



<table>
  <thead>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Place</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.customerId }}</td>
      <td>{{ customer.companyName }}</td>
      <td>{{ customer.contactName }}</td>
      <td>{{ customer.contactTitle }}</td>
      <td><button (click)="editCustomer(customer)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-customer
  [customer]="customerToEdit"
  (customersUpdated)="updateCustomerList($event)"
></app-edit-customer>