<div *ngIf="customer" class="form-group">
  <h2>{{ customer.companyName }}</h2>
  <div class="form-group">
    <label>Company Name: </label>
    <input [(ngModel)]="customer.companyName" placeholder="companyName" #filterName name="companyName" />
  </div>
  <div class="form-group">
    <label>Contact Name: </label>
    <input [(ngModel)]="customer.contactName" placeholder="contactName" />
  </div>
  <div class="form-group">
    <label>Contact Title: </label>
    <input [(ngModel)]="customer.contactTitle" placeholder="contactTitle" />
  </div>
  <div class="form-group">
    <br/>
    <button (click)="updateCustomer(customer)" *ngIf="customer.customerId">Save</button>
    <button (click)="deleteCustomer(customer)" [disabled]="isDeleting" style="background-color: red; color: white;">
      <i class="material-icons">delete</i> 
    </button>
  </div>
</div>
