<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<button id="sidebar-toggle" (click)="createCustomer()"><i class="material-icons">add</i> </button>

<app-edit-customer [customer]="customerToEdit" (customersUpdated)="updateCustomerList($event)"></app-edit-customer>


<div class="form-list-group">
  <table>
    <thead>
      <th>CustomerID</th>
      <th>Company</th>
      <th>Contact Name</th>
      <th>Contact Title</th>
      <th>Address</th>
      <th>City</th>
      <th>    Actions</th>

      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let customer of getCustomersToDisplay()">
        <td>{{ customer.customerId }}</td>
        <td>{{ customer.companyName }}</td>
        <td>{{ customer.contactName }}</td>
        <td>{{ customer.contactTitle }}</td>
        <td>{{ customer.address}}</td>
        <td>{{ customer.city }}</td>

        <td><button (click)="editCustomer(customer)"><i class="material-icons">edit</i></button></td>
        <td><button (click)="deleteCustomer(customer)" *ngIf="customer.customerId"><i class="material-icons">delete</i></button></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button [disabled]="currentPage === 0" (click)="currentPage = currentPage - 1">Previous</button>
  <button [disabled]="!hasMoreCustomers || currentPage === (customers.length / pageSize - 1)" (click)="currentPage = currentPage + 1" *ngIf="hasMoreCustomers">Next</button>
</div>