<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<button id="sidebar-toggle" (click)="createCustomer()"><i class="material-icons">add</i> </button>

<app-edit-customer [customer]="customerToEdit" (customersUpdated)="updateCustomerList($event)"></app-edit-customer>


<div class="form-list-group">
  <table>
    <thead>
      <th>CustomerID</th>
      <th>Company</th>
      <th>Contact Name</th>
      <th>Contact Title</th>
      <th>Address</th>
      <th>City</th>
      <th>Region</th>
      <th>PostalCode</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Fax</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.customerId }}</td>
        <td>{{ customer.companyName }}</td>
        <td>{{ customer.contactName }}</td>
        <td>{{ customer.contactTitle }}</td>
        <td>{{ customer.adress}}</td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.region }}</td>
        <td>{{ customer.postalCode }}</td>
        <td>{{ customer.country }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.fax}}</td>

        <td><button (click)="editCustomer(customer)"><i class="material-icons">edit</i></button></td>
        <button (click)="deleteCustomer(customer)" *ngIf="customer.customerId"><i
            class="material-icons">delete</i></button>
      </tr>
    </tbody>
  </table>
</div>