
.form-group{
  border-color: #EB2000;
  border-radius: 1em;
}

.form-list-group{
  border-color: #f30000;
  border-radius: 1em;

}


/* Estilo para el botón */
button {
  background-color: #332e2e;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
  transition: all 0.3s ease;
}

/* Estilo para el botón de editar */
button.edit {
  background-color: #332e2e;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
  transition: all 0.3s ease;
}

/* Estilo para el botón de editar en hover */
button.edit:hover {
  background-color: #032583;
  color: white;
}

/* Estilo para el botón de eliminar */
button.delete {
  background-color: #032583;
  color: #032583;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Estilo para el botón de eliminar en hover */
button.delete:hover {
  background-color: #032583;
  color: #032583;
}

/* Estilo para la tabla */
table {

  border-collapse: collapse;
  width: 50%;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

/* Estilo para la cabecera de la tabla */
th {

  background-color: #032583;
  color: white;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}

/* Estilo para las celdas de la tabla */
td {

  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}



/* Estilo para el ícono del botón */
.material-icons {
  font-size: 18px;
}

/* Estilo para el texto en general */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Estilo para el botón de eliminar */
button.delete {
  margin-top: 2px;
  float: right;
}

/* Estilo para el botón de editar y eliminar */
td button {
  background-color: transparent;
  color: #ffffff;
  border: 1px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 0px;
  float: center;
}

/* Estilo para el botón de editar y eliminar en hover */
td button:hover {
  background-color: #032583;
  color: white;
}

/* Estilo para las filas de la tabla */
tr {
  background-color: #fff;
}

/* Estilo para las filas de la tabla en hover */
tr:hover {
  background-color: #f2f2f2;
}
/* Estilo para las filas de la tabla en hover */
tr:hover {
  background-color: #032583;
}